<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Joydep Dhar</title>
        <!-- Css Connection start -->
        <link rel="stylesheet" href="style.css">
        <!-- Css Connection End -->
        <!-- Tailwind Css Start -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Tailwind Css End -->
        <!-- Daisy UI start -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Daisy UI End -->
        <!-- Google font start -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <!-- Google font end -->
    </head>

    <body class="bg-black p-10">
        <!-- Nav Section with design -->
        <section>
            <div class="navbar text-white special-class">
                <div class="navbar-start">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </div>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow ">
                            <li class="specialHover special-class"><a href="#Home">Home</a></li>
                            <li class="specialHover"><a href="#Service">Service</a></li>
                            <li class="specialHover"><a href="#AboutMe">About Me</a></li>
                            <li class="specialHover"><a href="#MyProjects">My Projects</a></li>
                            <li class="specialHover"><a href="#Contact">Contact</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-ghost text-xl special-class">Joydep Dhar</a>
                </div>
                <div class="navbar-center hidden lg:flex gap-5 special-class">
                    <ul class="menu menu-horizontal px-1 special-class">
                        <li class="specialHover "><a href="#Home">Home</a></li>
                        <li class="specialHover "><a href="#Service">Service</a></li>
                        <li class="specialHover"><a href="#AboutMe">About Me</a></li>
                        <li class="specialHover"><a href="#MyProjects">My Projects</a></li>
                        <li class="specialHover"><a href="#Contact">Contact</a></li>
                    </ul>
                </div>
                <div class="navbar-end">

                    <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer" class="btn">Hire
                        Me</a>
                </div>
            </div>
        </section>
        <!-- Nav Section with design End -->
        <!-- Home Section start -->
        <section id="Home" class="lg:flex justify-center items-center">
            <div>
                <h4 class="text-4xl text-white">Hello I am</h4>
                <h1 class="text-6xl text-orange-400 py-5 special-class">Joydep Dhar</h1>
                <h4>Software Engineer, Tech Enthusiast , Entrepreneur.</h4>
                <p class="py-3.5 text-xl text-white">Passionate web developer from Bangladesh. <br> specializing in
                    <span class="text-purple-950">C# programming</span> and
                    <span class="text-purple-950">Asp.Net Programming</span> <br>
                    Crafting
                    seamless digital experiences with a
                    cup of coffee in hand.
                </p>
                <div>
                    <button class="btn-Hire text-2xl text-white flex align-middle items-center gap-2">
                        <a href="../Resource/JoydepDharCV.pdf" target="_blank"
                            class="text-xl flex align-middle items-center gap-2" rel="noopener noreferrer"><svg
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                            </svg>
                            Download CV</a></button>
                </div>
            </div>
            </div>
            <div>
                <img src="../Resource/profile-pic (1).png" alt="">
            </div>
        </section>
        <!-- Home Section start -->
        <!-- About Section Start -->
        <section id="AboutMe"
            class="text-white py-50 flex-row m-10 lg:flex gap-x-40 align-middle justify-center items-center">
            <div>
                <img src="../Resource/profile-pic2ndpart.png" alt="">
            </div>
            <div class="text-xl">
                <p>Hello I'm Joydep Dhar, a passionate software Engineer.</p>
                <p>I am a passionate developer specializing in creating exceptional websites and web applications. <br>
                    My
                    expertise lies in
                    delivering intuitive, pixel-perfect user interfaces and building efficient, modern backends. <br>I
                    have a
                    strong preference
                    for using <span class="text-orange-500">C# with ASP.NET and Python</span> , and I am skilled in
                    integrating <span class="text-orange-500">machine learning</span> solutions
                    into my projects. <br>
                    I am graduated from American International University-Bangladesh(AIUB)</p>
                <p>My major was <span class="text-orange-500">Software Engineering</span>. Here I am today!</p>

            </div>
            </div>
        </section>
        <!-- About Section END -->
        <!-- Skills Section Start -->
        <section id="Service" class="my-5 p-20">
            <h1 class=" text-4xl items-center gap-2 text-white mb-4">
                Service I like to Do
            </h1>
            <ul class="text-2xl text-white list-disc pl-5">

                <li>Website Development with Asp.Net MVC</li>
                <li>Website Development with Asp.Net Window Forms</li>
                <li>Window Applications Development with C#</li>
                <li>Website Development with Html, Css , JavaScript</li>
                <li>Quality Testing (QT) and Quality Assurance (QA)</li>
                <li>Project Management</li>
            </ul>
        </section>
        <!-- Skills Section End -->
        <!-- Project Section Start -->
        <section id="MyProjects" class="my-2 p-20">
            <h1 class="text-4xl items-center text-white mb-4">Academic Project I Did:</h1>
            <div class="py-10 my-10 lg:flex gap-5 px-5">
                <div class="btn-Hire">
                    <div class="card card-compact p-10 bg-base-100 w-96 shadow-xl">
                        <figure>
                            <img src="../Resource/LibraryManagementSystemByCSharp.PNG"
                                alt="LibraryManagementSystemByC#" />
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Library Management System</h2>
                            <p>Language: C#</p>
                            <p>Window Applications</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">View Git</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-Hire">
                    <div class="card card-compact p-10 py-16 bg-base-100 w-96 shadow-xl">
                        <figure>
                            <img src="../Resource/zeroHungerProject.PNG" alt="zeroHungerProject" />
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">ZeroHungerProject</h2>
                            <p>Language: C#</p>
                            <p>Framework:Asp.Net MVC</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">View Git</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-Hire">
                    <div class="card card-compact py-6 bg-base-100 w-96 shadow-xl">
                        <figure>
                            <img src="../Resource/BackEndProject.PNG" alt="BackEndProject" />
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">Store Management System</h2>
                            <p>Language: C#</p>
                            <p>Framework: Asp.Net (API)</p>
                            <div class="card-actions justify-end">
                                <button class="btn btn-primary">View Git</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Project Section End -->
        <!-- Contact Me Section Start -->
        <section id="Contact" class="mt-4 text-center text-white py-10">
            <h1 class="text-center text-4xl text-white">Contact Me</h1>
            <div>
                <h1>Email Me: joydep.cse.aiub@gmail.com</h1>
            </div>
        </section>
        <!-- Contact Me Section End -->
        <footer class="text-center text-white py-10">
            CopyWrite@JoydepDhar2024
        </footer>

        <!-- fontAwesome -->
        <script src=" https://kit.fontawesome.com/7a6f40b5f1.js" crossorigin="anonymous">
        </script>
    </body>

</html>